.search-container {
  width: 22rem;
  padding: 1em;
  margin: 0 auto 2em;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.search-title {
  font-size: 1.8em;
  color: rgb(77, 77, 77);
}

.input-container {
  box-shadow: 0 0 10px 0 rgba(202, 202, 202, 0.568);
  display: flex;
  align-items: center;
  border-radius: 1em;
  overflow: hidden;
}

.search-input {
  padding: 0.5em;
  padding-left: 0.8em;
  font-size: 1.1em;
  outline: none;
  border: none;
  width: 100%;
}

.search-button {
    background-color: white;
  padding: 0.2em;
  cursor: pointer;
  outline: none;
  border: none;
}
